<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>


    <div class="container bg-light" id="quote">
        <h2>Here are the awesome quotes!</h2>
        <div class="quote clearfix">
            <% for (var user in quotes) { %>
            <p class="quote"><b> "<%= quotes[user].quote %>"</b></p>
            <p class="date"> - "<%= quotes[user].name %>" at
                <%= moment(quotes[user].created_at).format("hh:mm a, MMMM DD YYYY") %></p>
            <hr>
            <% } %>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary"><a href="/" class="text-light">Go back</a></button>
                </div>
                <div class="col">
                    <button class="btn btn-danger float-right" id="delete"><a href="/delete"
                            class="text-light">Delete</a></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>