  <div class="info border">
    <h4>Player Status - Game 1</h4>
    <h5 class="text-center">
      <a [routerLink]="['/status/game/1']">Game 1</a> |
      <a [routerLink]="['/status/game/2']">Game 2</a> |
      <a [routerLink]="['/status/game/3']">Game 3</a>
    </h5>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Team Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams ">
          <td> {{team.name}} </td>
          <td>
            <button class="btn shadow" (click)="Playing(team._id)" [ngClass]="{'btn-success' : playing, '': !playing}">
              Playing
            </button>
            <button class="btn shadow" (click)="notPlaying()"
              [ngClass]="{'btn-danger' : notplaying, '': !notplaying}">Not
              Playing</button>
            <button class="btn shadow" (click)="undecided()"
              [ngClass]="{'btn-warning' : Undecided, '': !Undecided}">Undecided</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
