<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container-fluid">
  <h1>New Task</h1>
  <form (submit)="onSubmit()">
    <p>First Name: <input type="text" name="newTask.first_name" [(ngModel)]="newTask.first_name"> </p>
    <p>Last Name: <input type="text" name="newTask.last_name" [(ngModel)]="newTask.last_name"> </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container-fluid row">
  <div class="col">
    <h3>List of users</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let idx = index">
          <td>{{task.first_name}}</td>
          <td>{{task.last_name}}</td>
          <td> <button type="submit" class="btn btn-danger" (click)="onDelete(task)">Delete</button> </td>
        </tr>
      </tbody>
    </table>


    <router-outlet></router-outlet>
