<div *ngIf="city.name !== ''" class="container">
  <div class="card">
    <img class="card-img-top"
      src="https://www.sanjose.org/sites/default/files/styles/content_block_image/public/2017-10/sj_twilight_edit_v2_1000x563.jpg?h=b6717701&itok=PoEtPAmM"
      alt="Card image cap">
    <div class="card-body text-light bg-dark">
      <h4 class="card-title">{{ city.name }}</h4>
      <p class="card-text"> Humidity : {{ city.main.humidity }} </p>
      <p>Temperature (Average) : <span class="text-warning"> {{ city.main.temp }}°F </span></p>
      <p>Temperature (High) : <span class="text-warning">{{ city.main.temp_max }}°F</span></p>
      <p>Temperature (Low) : <span class="text-warning">{{ city.main.temp_min }}°F </span></p>

      <p>Temperature Feels Like : <span class="text-warning">{{ city.main.feels_like }}°F </span></p>

      <p>Status : <span class="text-warning">{{ city.weather[0].description }}</span></p>
      <a href="#!" class="btn btn-primary">Home</a>
    </div>
  </div>
</div>
