.container-fluid {
    margin-top: 20px;
    padding: 40px;
}

textarea {
    resize: none;
}

#message-form,
#message-info {
    width: 50vw;
}


#post-message {
    margin-top: 10px;
}

#message-info {
    padding: 20px;
    margin-top: 10px;
}

.comment-info {
    width: 50vw;
    padding: 20px;
}

#comment-form {
    margin-top: 50px;
}