<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>EJS CATS</h1>
    <a href="/cat"> <img src="/images/cat.jpeg" alt="cat" width="300"></a>
    <a href="/cat1"> <img src="/images/cat1.jpg" alt="cat1" width="300"></a>
    <a href="/cat2"> <img src="/images/cat2.jpeg" alt="cat1" width="300"></a>
</body>

</html>